/** {
    outline: 1px solid red !important;
 }*/
/**
   Colour Scheme:
   #353535 - DARK GREY
   #555B6E - GREY BLUE
   #808080 - LIGHT GREY

   Fonts:
   *    - font-family: 'Oxygen', sans-serif;
   font-family: 'Oxygen', sans-serif;
   font-family: 'Lato', sans-serif;
*/

body {
   font-family: 'Oxygen', sans-serif;
}

h1 {
   color: #353535;
}
h2 {
   color: #555B6E;
}
h3 {
   color: #808080;
   font-size: 300%;
}
h4 {
   color: #808080;
   font-size: 200%;
}
h5 {
  color: #353535;
  font-size: 150%;
}
p {
   color: black;
   font-family: 'Lato', sans-serif;
}
hr {
    color: #555B6E;
    background-color: #555B6E;
    height: 2px;
}
figure {
   margin: 20px;
}
ol { 
   text-align: center;
}

.pink-outline {
   outline: solid #d879bf thin;
}

.blog-subtitle {
   font-size: 90%;  
   margin-top: 0px;
}

.blog-question {
  font-size: 90%;  
  margin-top: 0px;
}

.profile-picture {
    padding-top: 15px;
}

.centered-image {
   margin-left: auto;
   margin-right: auto;
   width: 400px;
}

.centered-code {
   margin-left: auto;
   margin-right: auto;
   width: 700px;
}

.small-hr {
   height: 1px;
   width: 50%;
}

.sprint2-image2 {
   padding: 20px;
   border: dashed purple;
   margin: 20px;
   height: 220px;
   width: 220px;
}

.sprint2-image3 {
   padding: 0px;
   border: dashed purple;
   margin: 20px;
   height: 220px;
   width: 220px;
}

.sprint2-image4 {
   padding: 20px;
   border: none purple;
   margin-bottom: 40px;
   height: 220px;
   width: 220px;
}

.sprint2-divs {
   height: 370px; 
   margin-bottom: 30px;
   margin-top: 30px;
}

.blog-item-divs {
   margin-bottom: 30px;
}


#heading {
   font-weight: 300;
   font-size: 400%;
}
#heading-subtitle {
  font-size: 200%;
}


