/** {
    outline: 1px solid red !important;
 }*/
/**
   Colour Scheme:
   #353535 - DARK GREY
   #555B6E - GREY BLUE
   #808080 - LIGHT GREY

   Fonts:
   *    - font-family: 'Oxygen', sans-serif;
   font-family: 'Oxygen', sans-serif;
   font-family: 'Lato', sans-serif;
   <h1> - light
   <h2> - regular
   <h3> - regular
   <h4> - regular
   <h5> - regular
   <p>  - regular

*/
body {
   font-family: 'Oxygen', sans-serif;
}

h1 {
   color: #353535;
}
 h2 {
   color: #555B6E;
 }
 h3 {
   color: #808080;
 }
 h4 {
   color: #808080;
 }
 p {
   color: black;
   font-family: 'Lato', sans-serif;
 }
 hr {
    color: #555B6E;
    background-color: #555B6E;
    height: 2px;
 }

 #heading {
    font-weight: 300;
    font-size: 400%;
 }
 #heading-subtitle {
   font-size: 200%;
 }

